 {% extends 'base.html' %}
 {% block body %}
 <div class="container">
    <div class="row">
        <div class="offset-4 col-md-4 text-center mt-4">
            <div class="card">
                <div class="card-header bg-info">
                    <div class="card-title text-white">Login here..</div>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {% comment %} AuthenticationForm is automatically provided to the template context(form) {% endcomment %}
                        {% for field in form %} 
                        <div class="form-group m-2">
                            {{field.name}}
                            {{field}}
                        </div>
                        {% endfor %}
                        <center><input type="submit" class="btn btn-primary" value="Login"></center>
                        <div><a href="{% url 'register' %}" style="text-decoration: none;">Register here for login</a></div>
                     </form>

                </div>
            </div>
        </div> 
    </div> 
 </div>
 {% endblock  %}
